body {
    font-family: Arial, sans-serif;
    font-size: 20px;
    margin: 0;
}
h1 {
    color: aqua;
}

label{
    float: left;
    width: 6em;
    margin-bottom: 0.5em;
}

input[type="text"], input[type="email"] {
    width: 15em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}
br {
    clear: both;
}
#submit {
    margin-left: 0.5em;
    padding: 0.5em;
    border-radius: 0.5em;
}
.main {
    height: 100%;
    margin: auto;
    width: 50%;
    padding: 10px;
}